body {
    background-color: #777;
}
.menu-principal {
    height: 20px;
}
.navbar {
    background-color: rgb(193, 196, 189);
}

.quem-somos {
    background-color: rgb(97, 114, 114);
    color: #eee;
}

.margin {
    padding-bottom: 30px;
    padding-top: 10px;
}

.parceiros {
    color: #eee;
    background-color: indigo;
}

.servicos {
    color: #eee;
    background-color: rgb(11, 37, 26);
}

.estilo-rodape {
    color: #eee;
    background-color: rgb(49, 47, 47);
}