
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Toolbar -->
<nav class="navbar navbar-expand-lg navbar-light margin">
  <div class="container-fluid">
      <a class="navbar-brand" routerLink="home">
          <img src="../assets/images/KEY04.ICO" alt="Logo Progtec" width="32px" height="32">Progtec Assistência Técnica
      </a>
      <!-- <div class="collapse navbar-collapse"> -->
      <div class="container">
          <ul  class="navbar-nav">
              <li class="nav-item"><a class="navbar-brand" routerLink="home">Home</a></li>
              <li class="nav-item"><a class="navbar-brand" routerLink="servico">Serviços</a></li>
              <li class="nav-item"><a class="navbar-brand" routerLink="contato">Contato</a></li>
              <li class="nav-item"><a class="navbar-brand" routerLink="mapa">Mapa</a></li>
              <li class="nav-item"><a class="navbar-brand" routerLink="sobre">Sobre</a></li>
              <li class="nav-item"><a class="navbar-brand" routerLink="backend">db.json</a></li>
            </ul>
      </div>
  </div>
</nav>

<div class="content" role="main">
  <!--Conteudo Geral-->
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer id="rodape">
  <div class = "margin estilo-rodape">
      <p class="text-center">Desenvolvido por: Luiz Amaro<a class="nav-link"  routerLink="contato">Contato</a></p>
  </div>
</footer>


