<div id="home">
    <section id="quemsomos">
        <div class="container-fluid quem-somos text-center margin">
            <div class="row" text-center>
                <div class="col-lg-12">
                    <h1 class="margin">Quem somos</h1>
                    <img src="../assets/images/luiz-eletricista.jpg" alt="Gatos" class="rounded-circle" width="25%">
                    <h3>Somos prestadores de serviços de eletroeletrônicos, atendendimento residencial, comercial e pequenas empresas. </h3>
                </div>
            </div>
        </div>
    </section>
    <section id="parceiros">
        <div class="container-fluid parceiros text-center margin">
            <h1 class="margin">Parceiros</h1>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="../assets/images/arduino.jpg" alt="Parceiro 1" width="100%" height="300px">
                    </div>
                    <div class="col-lg-4">
                        <img src="../assets/images/computador.jpg" alt="Parceiro 2" width="100%" height="300px">
                    </div>
                    <div class="col-lg-4">
                        <img src="../assets/images/comanados-eletricos.png" alt="Parceiro 3" width="100%" height="300px">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="servicos">
        <div class="container-fluid servicos text-center margin">
            <h1 class="margin">Serviços</h1>
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <p>Descrição padrão do serviço</p>
                        <img src="../assets/images/disjuntor.jpg" alt="Serviço 1" width="100%" height="200px">
                        <p>R$ 10,40</p>
                    </div>
                    <div class="col-lg-2">
                        <p>Descrição padrão do serviço</p>
                        <img src="../assets/images/placa-mae.jpg" alt="Serviço 2" width="100%" height="200px">
                        <p>R$ 10,40</p>
                    </div>
                    <div class="col-lg-2">
                        <p>Descrição padrão do serviço</p>
                        <img src="../assets/images/membrana.png" alt="Serviço 3" width="100%" height="200px">
                        <p>R$ 10,40</p>
                    </div>
                    <div class="col-lg-2">
                        <p>Descrição padrão do serviço</p>
                        <img src="../assets/images/microonda-aberto.jpg" alt="Serviço 3" width="100%" height="200px">
                        <p>R$ 10,40</p>
                    </div>
                    <div class="col-lg-2">
                        <p>Descrição padrão do serviço</p>
                        <img src="../assets/images/fusivel.jpg" alt="Serviço 3" width="100%" height="200px">
                        <p>R$ 10,40</p>
                    </div>
                    <div class="col-lg-2">
                        <p>Descrição padrão do serviço</p>
                        <img src="../assets/images/motor-eletrico.jpg" alt="Serviço 3" width="100%" height="200px">
                        <p>R$ 10,40</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
